[submodule "Inventory"]
	path = Inventory
	url = git@github.com:ConstellationApps/Inventory.git
[submodule "Vote"]
	path = Vote
	url = git@github.com:ConstellationApps/Vote.git
[submodule "Scroller"]
	path = Scroller
	url = git@github.com:ConstellationApps/Scroller.git
[submodule "Base"]
	path = Base
	url = git@github.com:ConstellationApps/Base.git
