[submodule "SimpleInventory"]
	path = SimpleInventory
	url = git@github.com:SimpleOrgApps/SimpleInventory.git
[submodule "SimpleVote"]
	path = SimpleVote
	url = git@github.com:SimpleOrgApps/SimpleVote.git
[submodule "SimpleScroller"]
	path = SimpleScroller
	url = git@github.com:SimpleOrgApps/SimpleScroller.git
[submodule "SimpleBase"]
	path = SimpleBase
	url = git@github.com:SimpleOrgApps/SimpleBase.git
